@model PropertyRentalManagementWebSite_V2.Apartment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="listing_page_container">
            <h2>Details</h2>

            <div>
                <h4>Apartment</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Number)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bedrooms)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bedrooms)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bathrooms)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bathrooms)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Image)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Building.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Building.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tenant.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tenant.FirstName)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ApartmentId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

            </div>
            
