@model IEnumerable<PropertyRentalManagementWebSite_V2.Message>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="listing_page_container">
    <h2>Messages</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                </td>
            </tr>
        }

    </table>
    </div>
